{% extends "base.html" %}

{% block content %}

<h2>All Notes</h2>

<a href="{{ url_for('note') }}"><button>Back</button></a>

<div style="display:flex; flex-wrap: wrap; margin-top:20px;">
    {% if notes %}
        {% for note in notes %}
        <div style="margin:10px; text-align:center">
            <img src="{{ note.img }}" width="200">
            <p style="max-width:200px; word-wrap: break-word;">
                {% if note.text|length > 50 %}
                    {{ note.text[:50] }}...
                {% else %}
                    {{ note.text }}
                {% endif %}
            </p>
            <div style="margin-top:5px;">
                <form method="POST" action="{{ url_for('delete_note') }}" style="display:inline;">
                    <input type="hidden" name="filename" value="{{ note.filename }}">
                    <button type="submit">Delete</button>
                </form>
                <a href="{{ url_for('note', filename=note.filename) }}">
                    <button type="button">Edit</button>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No saved drawings yet.</p>
    {% endif %}
</div>

{% endblock %}