<!doctype html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Notebook{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Notes</h1>
        <hr>
        {% if session.get('user_id') %}
        <form action="/logout" method="GET" style="display:inline;">
            <button type="submit">Log out</button>
        </form>
        {% else %}
        <form action="/login" method="GET" style="display:inline;">
            <button type="submit">Log in</button>
        </form>
        {% endif %}
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>© 2025</p>
    </footer>
</body>
</html>